body
{ 
    position: relative;
    width: 100%;
    height:fit-content;
    border: 2px dotted;

}
header { background-color:gold; margin-bottom:4px;}

footer { margin-top: 4px; background-color:gold; clear:both; }

h1      { display:block; text-align: center; 
          background-color: #89c4f5; }

h2      { display:block; background-color: #116c83; }

p       { background-color: #f0bcbc; color: #000000; }

container { display: block; }

articles {  display: flex;
            flex-flow: row wrap;
            border: 2px solid #000000;}

.article {  flex: 1 300px;
            border: 2px solid #000000;}

article:nth-of-type(3) {
                flex: 2 400px;
              }

sidebar { display: block; height:fit-content; border: 2px solid #000000;}

actions { display: block; height:fit-content; border: 2px solid crimson; }